p.context
{ font-size: smaller;
  color: dodgerblue;
}

th
{ font-size: 120%;
  font-family: Arial, Verdana, sans-serif;
  background-color: blue;
  padding:5px;
  color: white;
}

/*
div
{ background-color: white;
}
*/

td
{ background-color: white;
  font-family: Arial, Verdana, sans-serif;
}


img.opaque
{
opacity:0.4;
}


li
{ font-family: Arial, Verdana, sans-serif;
  color: slategray;
  font-size: 150%;
}


table.fixed { table-layout:fixed;
	      width:620px;
}
table.fixed td { overflow: hidden; }
table.fixed td:nth-of-type(1) {width:120px;} /*Setting the width of column 1.*/
table.fixed td:nth-of-type(2) {width:500px;} /*Setting the width of column 2.*/


caption
{
caption-side:right;
text-align:left;
}
