body {
  background-color:ghostwhite;
  /*
  border-style: groove;
  border-color: navyblue;
  */
  background-image: url('/html/images/information.gif');
  background-repeat:no-repeat;
  margin-left: 30pt;
  margin-top: 20pt;
}
p {font-family:arial;
   color:slategray;
   font-size:14px;}
b {color:black;}
